*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
table{
    width: 100%;
    margin: 1em;
    padding: 1em;
  
    
    
}
th , tr,td{
    text-align: left;
    /* width: fit-content; */
    border: 2px solid black;
    margin-left: auto;
    text-align: center;
}
tr img{
    width: 20%;
}
#image{
     margin: 0;
     padding: 0;
     width: fit-content;

}